---
import Project from "../components/Project.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects()

const title = "home";

---

<BaseLayout {title} description = "Person website of Rudsi">
   <h1 slot = "header-content" class = "text-neutral-500" style="font-family: 'Switzer-BoldItalic'";>
      Rudsi
   </h1>


   <main class="prose">
      <p>
        Hello, <strong> I am Rudra Pratap Singh</strong>, aka <strong>rudsi!</strong>. 
        I'm an 18 y/o CS undergrad with a passion for building 
        things and reading books. 
        I enjoy <strong>language design</strong>, <strong>web development</strong>, 
        and exploring the intersection of technology and creativity. 
      </p>

      <div class="mt-12"></div>
      <h2>Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {projects.map(project => <Project {project} />)}
      </div>
   </main>
    
 
</BaseLayout>
<style>
  h2 {
    font-family: 'Switzer-Bold';
    font-weight: normal;
}
</style>
