---
import { getCollection } from "astro:content"
import Project from "../components/Project.astro"
import Link from "../components/Link.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects()

const title = "home";

---

<BaseLayout {title} description = "Person website of Rudsi">
   <h1 slot = "header-content" class = "text-neutral-500" style="font-family: 'Switzer-BoldItalic'";>
      Rudsi
   </h1>


   <main class="codac">
      <p>
        Hello <strong>Rudra Pratap Singh</strong>, aka <strong>rudsi!</strong>.  I'm an 18 y/o CS undergrad student with a passion for reading books and building things. I enjoy <strong>language design</strong>, <strong>web development</strong>, 
        and exploring the intersection of technology and creativity.
          
      </p>

      <div class="mt-12"></div>
      <h1>Projects</h1>

      <div class="grid grid-cols-2 gap-6 md:grid-cols-3 mr-2.5 p-1">
      {projects.map(project => <Project {project} />)}
      </div>
   </main>
    
 
</BaseLayout>
<style>
  h1 {
    font-family: 'Switzer-Bold';
    font-weight: normal;
}
</style>
