---
import Link from "../components/Link.astro"
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "home";

---

<BaseLayout {title} description = "Person website of Rudsi">
   <h1 slot = "header-content" class = "text-neutral-500">
	    Rudsi
   </h1>
    
 
</BaseLayout>

