---
import Link from "./Link.astro";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Rudra Pratap Singh</span>

    <div class="flex gap-4">
      <Link href="/rss.xml">
        <svg fill="currentColor" height="16" width="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 455 455" xml:space="preserve">
   <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M0,0v455h455V0H0z M141.435,372.387c-7.656,7.59-18.047,12.219-29.614,12.219
       c-11.555,0-21.945-4.646-29.549-12.219C74.681,364.801,70,354.462,70,342.961c0-11.502,4.681-21.875,12.272-29.483
       c7.621-7.569,17.994-12.237,29.549-12.237c11.567,0,21.958,4.668,29.579,12.254c7.621,7.621,12.272,17.964,12.307,29.466
       C153.672,354.462,149.021,364.783,141.435,372.387z M217.468,385c0,0,0-0.101-0.017-0.101
       c-0.066-39.41-15.431-76.597-43.221-104.352c-27.786-27.838-64.925-43.256-104.195-43.291v-60.139
       c57.299,0.035,109.169,23.327,146.833,61.014c37.651,37.682,60.944,89.565,60.996,146.869H217.468z M324.708,385
       c-0.105-140.495-114.196-254.774-254.572-254.879V70c86.817,0.035,165.432,35.359,222.495,92.422
       C349.659,219.485,384.965,298.165,385,385H324.708z"/>
   </svg>
         
      </Link>

      <Link href="/sitemap-index.xml">
        <div class="i-mdi:sitemap" title="Sitemap" />
      </Link>

      <Link href="mailto:rudsiofficial@gmail.com">
        <svg fill="currentColor" height="16" width="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 330.001 330.001" xml:space="preserve">
   <g id="XMLID_348_">
       <path id="XMLID_350_" d="M173.871,177.097c-2.641,1.936-5.756,2.903-8.87,2.903c-3.116,0-6.23-0.967-8.871-2.903L30,84.602
           L0.001,62.603L0,275.001c0.001,8.284,6.716,15,15,15L315.001,290c8.285,0,15-6.716,15-14.999V62.602l-30.001,22L173.871,177.097z"
           />
       <polygon id="XMLID_351_" points="165.001,146.4 310.087,40.001 19.911,40 	"/>
   </g>
   </svg>
      </Link>

      <Link href="https://github.com/nexxeln">
        <div class="i-mdi:github" title="GitHub" />
      </Link>

      <Link href="https://www.linkedin.com/in/rudsi/">
        <svg fill="currentColor" height="16" width="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 310 310" xml:space="preserve">
<g id="XMLID_801_">
	<path id="XMLID_802_" d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73
		C77.16,101.969,74.922,99.73,72.16,99.73z"/>
	<path id="XMLID_803_" d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4
		c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/>
	<path id="XMLID_804_" d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599
		c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319
		c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995
		C310,145.43,300.549,94.761,230.454,94.761z"/>
</g>
</svg>
      </Link>

      <Link href="https://x.com/rudsiofficial">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <title>X (formerly known as Twitter)</title>
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
        </svg>
      </Link>
    </div>
  </footer>
</div>