---
import type { Project } from "../lib/projects"
import Link from "./Link.astro"

type Props = {
  project: Project
}

const { project: { repo: name, description, link } } = Astro.props
---

<div class="w-35 flex flex-col">
  <Link href={link}>
    <span class="font-medium">{name}</span>
  </Link>

  <span class="pt-3">{description}</span>
</div>